.arrow-slider {
  display: flex;
    justify-content: space-between;
    align-content: center;
    width: 200px;
    height: 35px;
}

.arrow-slider--gallery {

}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-left: 20px;
  background-image: none;
  background-color: transparent;
  border: 1px solid #08CC99;
  border-radius: 100%;
  transition: border 0.3s linear;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 20px;
  height: 10px;
  stroke: #286E56;
}