.card {
  position: relative;
  background-color: $grey;
  border: 1px solid transparent;
  transition: all 0.7s linear;

  .banner-list & {
    background-color: $white;
}
}

.card__img {
  max-height: 208px;
  overflow: hidden;
}

.card__img img {
  width: 100%;
}

.card__descr {
  padding: 30px 10px;
}

.card__title {
  height: 60px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.card__info {
  min-height: 80px;
  margin-bottom: 20px;
  color: $grey-dark;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
}

.card__phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__phone a {
  display: inline-block;
  margin: 0 5px;
  color: $grey-dark;
}

.card__link {
  text-align: center;
}

.card__link a {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-transform: uppercase;
}

.card:hover {
  box-shadow: 0px 4px 51px rgba(0, 0, 0, 0.17);
}

.card__price {
  margin: 5px 0;
  text-align: center;
}

.card__price-old {
  color: $grey-dark;
  font-size: 16px;
  line-height: 18px;
  text-decoration: line-through;
}

.card__price-new {
  color: $turq;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.card span {
  cursor: default;
}


.card:hover {
  border-color: $green;
}