.device {
  position: relative;
  margin-top: 70px;
}

.device img {
  @include p-abs-center(auto);
  z-index: 1;
  width: 45%;
  border: 2px solid $grey;
  border-radius: 100%;
}

@media(max-width: 1200px) {
  .device img {
   display: none;
}
}