.feauters {
    @include d-flex(wrap, row, flex-start, center);
}
.feauters__item {
    flex-basis: 25%;
    border-left: 1px solid #EBEBEB;
}
.feauters__item:last-child {
    border-right: 1px solid #EBEBEB;
}
.feauters__card {
    @include d-flex(wrap, row, center, center);
    padding: 50px 0;
}
.feauters__card svg {
    width: 53px;
    height: 53px;
    margin-right: 15px;
    fill: $grey-dark;
}
.feauters__card span {
    width: 45%;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}
@media(max-width: 1200px) {
    .feauters__item {
        flex-basis: 50%;
        border-left: none;
    }
    .feauters__item:last-child {
        border-right: none;
    }
    .feauters__card {
        padding: 20px 0;
    }
}
@media(max-width: 600px) {
    .feauters__card span {
        font-size: 14px;
    }
    .feauters__card svg {
        width: 30px;
        height: 30px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .feauters__card span {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
}