.link-block {
    position: relative;
    @include d-flex(nowrap, row, center, center);
    padding: 50px 0;
}
.link-block a {
    @include p-abs-center(0 auto);
}
.link-block svg {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    fill: #939393;
}
.link-block span {
    flex-basis: 85%;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
}

.link-block:hover svg {
    fill: $green;
}

@media(max-width: 1200px) {
    .link-block {
        padding: 15px 0;
    }
}