.link-block-vertical {
  text-align: center;
}


.link-block-vertical img {
  display: block;
  margin: 0 auto;
}

.link-block-vertical a {
  color: $grey-dark;
  font-size: 14px;
  line-height: 22px;
  text-decoration: underline;
}

.link-block-vertical a:hover {
  text-decoration: none;
}