.links-list {
  @include d-grid(repeat(5, 1fr), center);
  grid-gap: 20px;
}

  @media(max-width: 1200px) {
   .links-list {
  grid-template-columns: repeat(3, 1fr);
}
  }

  @media(max-width: 600px) {
   .links-list {
  grid-template-columns: repeat(1, 1fr);
}
  }