.magic-link {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.magic-link::before {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: $turq;
    left: 0;
    width: 100%;
    opacity: 1;
    transform: scaleX(1);
    transform-origin: right;
    transition-property: color, transform, background-color;
    transition-duration: 0.7s;
    transition-timing-function: ease;
}

.magic-link:hover {
    color: $turq;
}

.magic-link:hover::before {
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: left;
}

span.magic-link {
  position: relative;
  padding-bottom: 3px;
  text-transform: uppercase;
}

span.magic-link::before {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: $turq;
    left: 0;
    width: 100%;
    opacity: 1;
    transform: scaleX(1);
    transform-origin: right;
    transition-property: color, transform, background-color;
    transition-duration: 0.7s;
    transition-timing-function: ease;
}

span.magic-link:hover {
    color: $dark;
}

span.magic-link:hover::before {
     background-color: $turq;
    transform: scaleX(1);
}