.main-menu {
  @include d-flex(wrap, row, center, center);
}

.main-menu li {
  border-left: 1px solid $grey-light;
}

.main-menu li:last-child {
  border-right: 1px solid $grey-light;
}

.main-menu li a {
  position: relative;
  display: block;
  padding: 13px 40px;
  color: $dark;
  font-family: $RFont;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transition-property: color, background-color, -webkit-transform;
    transition-property: color, background-color, -webkit-transform;
    transition-property: color, transform, background-color;
    transition-property: color, transform, background-color, -webkit-transform;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  &.active::before,
  &:hover::before {
    opacity: 1;
    background-color: $turq;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;

  }
}

@media(max-width: 1450px) {
  .main-menu li a {
    padding: 13px 15px;
    font-size: 16px;
  }
}