.map {
  position: relative;
  height: 760px;
  border: 5px solid $white;
}


.map__info {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.map__block {
  @include p-abs-center( 0 auto);
}

.map__block iframe {
  width: 100%;
  height: 100%;
}

.map__descr {
  position: absolute;
  bottom: 0;
  right: 0;
  @include d-flex(nowrap, row, center, space-between);
  width: 100%;
  max-width: 760px;
  background-color: $white;
}

.map__descr-item {
 width: 50%;
}

.map__descr-item:nth-child(1) {
  padding: 30px 20px;
}

.map__descr-item img {
  width: 100%;
}

.map__descr-text {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

.map__descr-contacts {
 @include d-flex(nowrap, row, center, space-between);
}

.map__descr-contacts-item a {
  display: block;
  margin-bottom: 10px;
}

.map__descr-contacts-item span {
  text-transform: uppercase;
}

.map__descr-title {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

@media(max-width: 1000px) {
  .map {
    height: auto;
  }

  .map__info {
    padding: 0;
  }

  .map__descr {
    position: relative;
    max-width: 100%;
  }

  .map__block {
    position: relative;
    height: 300px;
  }


}