.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;

  &__item {
     width: 100%;
  text-align: center;
  }

  & input[type=text] {
    width: 100%;
  height: 54px;
  padding: 10px 22px;
  font-size: 14px;
  background-color: $white;
  border: none;
  border-radius: 7px;
  }

  & input:focus {
  border: 1px #005298 solid;
  outline: none;
}

  & input::-webkit-input-placeholder {
  color: #9299a7;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
& input::-moz-placeholder {
  color: #9299a7;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
& input:-moz-placeholder {
  color: #9299a7;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
& input:-ms-input-placeholder {
  color: #9299a7;
  -webkit-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
}



