.slider-gallery-wrapper {
  position: relative;
}

.slider-gallery-wrapper .wrapper {
  @include p-abs-center(auto);
  max-width: 935px;
}

.slider-gallery {
    padding: 130px 0;
    & .swiper-slide {
        height: 335px;
        overflow: hidden;
    }
    & .swiper-slide a {
      position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        & img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: auto;
          height: 100%;
          margin: 0 auto;
          object-fit: cover;
          border: 3px solid $white;
          border-radius: 5px;
        }
    }
    & .swiper-slide-active {
        z-index: 2;
        will-change: transform;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        & img {
            box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.25);
        }
    }
}

@media(max-width: 600px) {
  .slider-gallery .swiper-slide-active {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}