.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    &__item {
        margin-right: 10px;
        list-style-type: none;
    }
    &__icon {
        position: relative;
        display: block;
        width: 18px;
        height: 18px;
        background-image: url("../../img/twitter.png");
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        &--fb {
            background-image: url("../../img/facebook.png");
        }
        &--vk {
            background-image: url("../../img/vk.png");
        }
        &--inst {
            background-image: url("../../img/inst.png");
        }
        &--ok {
            background-image: url("../../img/ok.png");
        }
        &--youtube {
            background-image: url("../../img/youtube.png");
        }
        &:hover {
            opacity: 0.5;
        }
    }
    .perf-card__row & {
        justify-content: flex-start;
        padding: 15px 0;
        .social-list__icon {
            width: 35px;
            height: 35px;
        }
    }


  .page-footer__info & {
    margin-right: 30px;
  }
}

