@media (max-width: 790px) {
      .table-responsive thead th {
        display: none;
    }

  .fold-table > thead tr th:first-child {
      display: block;
      border-right: 1px solid #08CC99;
      border-radius: 5px;
      text-align: center;
    }
    .table-responsive tr {
        display: block;
    }
    .fold-content > table td::before {
        content: attr(data-title);
        display: block;
        padding: 5px 0;
        font-size: 15px;
        font-weight: 700;
        text-align: center;

    }
    .table-responsive tr td {
        display: block;
      width: 100%;
        text-align: center;

    }
//    .table-responsive tr td:first-child {
//        display: none;
//    }
    .table-responsive tr td.td__name::before {
        margin-bottom: 20px;
        color: #fff;
        background: #452f91;
    }
    .table__count {
        justify-content: center;
    }
    .table__delete {
        margin: 0 auto;
    }
    .table__size {
        padding-left: 0;
    }
    .table__price {
        font-size: 30px;
        color: #f73d34;
    }
    .table__price span {
        font-size: inherit;
    }

}