.pcs:after {
    content: " pcs";
}
.cur:before {
    content: "$";
}
.per:after {
    content: "%";
}
table {
    width: 100%;
}
.fold-table th {
    text-align: left;
    border-bottom: 1px solid #ccc;
}
.fold-table th,
.fold-table td {
    padding: 20px;
    transition: all 0.3s linear;
}

.fold-table > thead tr {
  font-size: 16px;
  line-height: 1.5;
  background-color: $white;
  border-radius: 5px;
}

.fold-table > thead tr th {
  width: 300px;
  background-color: $white;
}

.fold-table > thead tr td:nth-child(1) {
  border-radius: 5px 0 0 5px;
}

.fold-table > thead tr td:last-child {
  border-radius: 0 5px 5px 0;
}

.fold-table > thead tr th:first-child {
   width: 789px;
   padding: 15px 60px;
   text-align: left;
   border: 1px solid #08CC99;
   border-right: none;
   border-radius: 5px 0 0 5px;
}

.fold-table > thead tr th {
   text-align: center;
   border: 1px solid #08CC99;
   border-left: none;
   border-right: none;
}

.fold-table > thead tr th:last-child {
   text-align: center;
   border: 1px solid #08CC99;
   border-left: none;
   border-radius: 0 5px 5px 0;
}
.fold-table > tbody > tr.view td,
.fold-table > tbody > tr.view th {
   font-weight: 700;
   cursor: pointer;
}
.fold-table > tbody > tr.view td:first-child,
.fold-table > tbody > tr.view th:first-child {
    position: relative;
    padding-left: 100px;
}
.fold-table > tbody > tr.view td:first-child:before,
.fold-table > tbody > tr.view th:first-child:before {
    content: '';
    display: block;
    height: 12px;
    margin-top: -9px;
    pointer-events: none;
    position: absolute;
    right: 30px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 12px;
    border-bottom: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
}

.fold-table > tbody > tr.view {
    background-color: $white;
}

.fold-table > tbody > tr.view:hover {
    background: #FBFBFB;
    border: 1px solid #CACACA;
    border-radius: 5px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.12);
}
.fold-table > tbody > tr.view.open {
    background-color: $white;
}

.fold-table > tbody > tr.view:hover td:first-child:before,
.fold-table > tbody > tr.view:hover th:first-child:before {
    border-bottom: 1px solid $dark;
    border-right: 1px solid $dark;
}

.fold-table > tbody > tr.view.open td:first-child:before,
.fold-table > tbody > tr.view.open th:first-child:before {
    border-bottom: 1px solid $turq;
    border-right: 1px solid $turq;
    transform: rotate(-135deg);
}
.fold-table > tbody > tr.fold {
    display: none;
}
.fold-table > tbody > tr.fold.open {
    display: table-row;
}
.fold.open > td {
  padding: 0;
}

.fold-content {
//    padding: .5em;
}
.fold-content h3 {
    margin-top: 0;
}
.fold-content > table td {
  width: 300px;
  padding: 15px 20px;
}

.fold-content > table td:first-child {
  width: 789px;
  padding-left: 120px;
}

.fold-content > table > tbody tr:nth-child(odd) {
    background: $white;
}

@media(max-width: 1000px) {

  .fold-table > thead tr th:first-child {
    padding: 15px 20px;
  }

  .fold-table > tbody > tr.view td:first-child,
  .fold-table > tbody > tr.view th:first-child {
    padding-left: 20px;
  }

  .fold-content > table td {
    width: 30%;
  }

  .fold-content > table td:first-child {
    padding-left: 30px;
}
}

@media(max-width: 790px) {
  .fold-table > thead tr th,
  .fold-content > table td,
  .fold-table > thead tr th:first-child,
  .fold-content > table td:first-child {
   width: 100%;
  }

}


