<section class="section">
    <div class="wrapper">
        <div class="about">
            <div class="about__item">
                <div class="main-title">
                    <span>Fillin</span>
                    международный оператор аутсорсинга
                </div>

            </div>
            <div class="about__item">
                <img src="../img/world.png" alt="">
            </div>
        </div>
        <div class="feauters-wrapper">
            <div class="feauters-wrapper__item">
                <div class="title-h3 title-h3--blue">
                    Упрощаем сложные процессы
                </div>
                <div class="text">
                    Временный персонал Fillin эффективно решает проблемы бизнеса на уровне штатных сотрудников.
                    Это снижает нагрузку на HR-отдел и ваши расходы на содержание штатного персонала.
                </div>
            </div>
            <div class="feauters-wrapper__item">
                <ul class="feauters">
    <li class="feauters__item">
        <div class="feauters__stat">
            300+
        </div>
        <div class="feauters__text">
            довольных клиентов
        </div>
    </li>
    <li class="feauters__item">
        <div class="feauters__stat">
            11+
        </div>
        <div class="feauters__text">
            лет на рынке
        </div>
    </li>
    <li class="feauters__item">
        <div class="feauters__stat">
            250
        </div>
        <div class="feauters__text">
            сотрудников в штате
        </div>
    </li>
    <li class="feauters__item">
        <div class="feauters__stat">
            9
        </div>
        <div class="feauters__text">
            филиалов в Украине
    </li>
</ul>
            </div>
        </div>
    </div>
</section>