<section class="section">
    <div class="app wrapper">
        <div class="app__item">
            <div class="slider-app swiper-container">
    <div class="mobilescreen-image"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="service-widget">
                <div class="post-media">
                    <a href="img/phone1.png"></a>
                    <img class="img-fluid img-rounded" src="../img/phone1.png" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="service-widget">
                <div class="post-media">
                    <a href="img/phone2.png"></a>
                    <img class="img-fluid img-rounded" src="../img/phone2.png" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="service-widget">
                <div class="post-media">
                    <a href="img/phone3.png"></a>
                    <img class="img-fluid img-rounded" src="../img/phone3.png" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="service-widget">
                <div class="post-media">
                    <a href="img/phone1.png"></a>
                    <img class="img-fluid img-rounded" src="../img/phone1.png" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="service-widget">
                <div class="post-media">
                    <a href="img/phone2.png"></a>
                    <img class="img-fluid img-rounded" src="../img/phone2.png" alt="">
                </div>
            </div>
        </div>


    </div>

<div class="swiper-button-next">

</div>

<div class="swiper-button-prev">
    
</div>

</div>  
        </div>
        <div class="app__item">
       
            <div class="title-h2">
                Мобильное приложение
            </div>
            <div class="text">
                Мобильное приложение  Fillin App — авторская разработка компании Fillin. Удобный поиск, запись на смены и аналитика работы для исполнителей.
            </div>
            <a class="btn" href="#">Подробнее 
                <svg>
                    <use xlink:href="img/sprite.svg#icon-arrow-light"></use>
                </svg>
            </a> 
            <div class="link-wrapper">
                <a class="link-wrapper__item" href="#">
                    <img src="../img/google.png" alt="">  
                </a>
                <a class="link-wrapper__item" href="#">
                    <img src="../img/appStore.png" alt="">  
                </a>
            </div> 
        </div>
        </div>
        </section>