<section class="section">
    <div class="benefit wrapper">
        <div class="title-h2 title-h2--center">
            Преимущества Fillin
        </div>
        <ul class="benefit-list">
    <li class="benefit-list__item">
        <div class="benefit-card">
            <div class="benefit-card__info">
                <div class="benefit-card__img">
                   <img src="../img/globe.png" alt="" width="60">
                </div>
                <div class="benefit-card__title">
                    Международная компания
                </div>
                <div class="benefit-card__text">
                    Вы полностью управляете своим временем. Нет привязки к офису и ко времени 
                </div>
            </div>
        </div>
    </li>
    <li class="benefit-list__item">
        <div class="benefit-card">
            <div class="benefit-card__info">
                <div class="benefit-card__img">
                    <img src="../img/card.png" alt="" width="60">
                </div>
                <div class="benefit-card__title">
                    Менеджмент
                </div>
                <div class="benefit-card__text">
                    Вы самостоятельно выбираете, в каком месте, а также кем работать. К тому же в любой момент вы можете изменить свой выбор. 
                </div>
            </div>
        </div>
    </li>
    <li class="benefit-list__item">
        <div class="benefit-card">
            <div class="benefit-card__info">
                <div class="benefit-card__img">
                    <img src="../img/target.png" alt="" width="60">
                </div>
                <div class="benefit-card__title">
                    Каналы трафика
                </div>
                <div class="benefit-card__text">
                    Это временная работа — удобно подрабатывать в свободное время.
                </div>
            </div>
        </div>
    </li>
    <li class="benefit-list__item">
        <div class="benefit-card">
            <div class="benefit-card__info">
                <div class="benefit-card__img">
                    <img src="../img/investment.png" alt="" width="60">
                </div>
                <div class="benefit-card__title">
                    Координация персонала
                </div>
                <div class="benefit-card__text">
                    Вы точно знаете размер своей зарплаты, потому что устанавливаете ее сами. 
                </div>
            </div>
        </div>
    </li>
    <li class="benefit-list__item">
        <div class="benefit-card">
            <div class="benefit-card__info">
                <div class="benefit-card__img">
                    <img src="../img/shield.png" alt="" width="60">
                </div>
                <div class="benefit-card__title">
                    Финансовая надежность
                </div>
                <div class="benefit-card__text">
                    У нас нет ограничений по опыту — перед каждым новым объектом вы проходите аттестацию.
                </div>
            </div>
        </div>
    </li>
</ul>
        <div class="text text--center text--bold">
            Если вам нужен персонал на склад, производство, в ритейл, рекламу, строительство — 
            оформляйте заявку и получите сотрудников Fillin на следующий день.
        </div>
        <div class="btn-wrapper">
            <a class="btn js-modal" href="#order">Оформить заявку 
                <svg>
                    <use xlink:href="img/sprite.svg#icon-arrow-light"></use>
                </svg>
            </a>
        </div>
    </div>
</section>