<div class="country choice">
    Страна: <a class="choice__link" href="#countryModal">Украина</a>
    <div class="country__window choice-window" id="countryModal">
        <div class="choice-window__wrapper">
        <div class="choice-window__title">
            Ваш регион - Украина?
        </div>
        <div class="choice-window__btns">
            <a class="btn" href="#">
                Все верно
            </a>
            <a class="btn btn--light" href="#">
                Выбрать другой
            </a>
        </div>
        <button class="choice-window__close close"></button>
    </div>
    </div>
</div>