<footer class="footer">
    <div class="wrapper">
        <div class="footer__inner">
            <div class="footer__inner-item">
                <a class="logo" href="#">
    <img src="../img/logo.png" alt="" width="164">
</a>

                <div class="slogan">
                    Аутсорсинговая<br> компания «Fillin»
                </div>
                <ul class="social-icons">
                    <li class="social-icons__item">
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-icons__item">
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#icon-inst"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-icons__item">
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="copyright">
                    © Fillin, 2016-2021.<br> Все права защищены
                </div>
            </div>
            <div class="footer__inner-item">
                <ul class="footer-menu" data-adaptiv="footer__inner-item:nth-child(1), 4, 1000">
                    <li class="footer-menu__item">
                        <a href="#">О компании</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#">Наши услуги</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#">Калькулятор</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#">Специальности</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#">Медиа</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#">Вакансии</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#">Контакты</a>
                    </li>
                </ul>     
            </div>
            <div class="footer__inner-item">
                <ul class="footer-menu">
                    <li class="footer-menu__item">
                        <a href="#">Аутсорсинг персонала</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#">Аутстаффинг персонала</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#">Лизинг персонала</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#">Фасилити менеджмент</a>
                    </li>
                </ul>     
            </div>
            <div class="footer__inner-item">
                <ul class="footer-menu" data-adaptiv="footer__inner-item:nth-child(3), 1, 1000">
                    <li class="footer-menu__item">
                        <a href="#">Массовый подбор персонала</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#">Клининг для бизнеса</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#">Аутсортинг спецодежды</a>
                    </li>
                </ul>     
            </div>
            <div class="footer__inner-item">
               <div class="footer__title">
                Мобильное приложение «Fillin»
               </div>
                <ul class="link-list">
                    <li class="link-list__item">
                        <a class="link-wrapper__item" href="#">
                            <img src="../img/google.png" alt="" width="184">  
                        </a>
                    </li>
                    <li class="link-list__item">
                        <a class="link-wrapper__item" href="#">
                            <img src="../img/appStore.png" alt="" width="184">  
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__inner-item">
                <div data-adaptiv="footer__inner-item:nth-child(5), 3, 1000">
                <div class="address">
                    Киев, ул. Верхний Вал, 4В, офис 414
                </div>
                <a class="phone" href="tel:0-800-33-7000">0-800-33-7000</a>
                <ul class="social">
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-viber"></use>
            </svg>
        </a>
    </li>
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-telegram"></use>
            </svg>
        </a>
    </li>
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-messenger"></use>
            </svg>
        </a>
    </li>
</ul>
                <a class="private-link" href="#">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
</footer>