<section class="section section--form">
    <div class="form wrapper">
        <div class="form__item">
            <img src="../img/girl.png" alt="">
        </div>
        <div class="form__item">
            <div class="title-h2">
                Расскажите нам о вашей потребности
            </div>
            <div class="text">
                Найдем быстрое решение!
            </div>
            <form class="main-form">
                <fieldset>
                    <ul class="form-list">
                        <li class="form-list__50">
                            <div class="group">      
                                <input class="input" type="text" id="name" required>
                                <label class="label" for="name">Ваше имя</label>
                              </div>
                        </li>
                        <li class="form-list__50">
                              <div class="group">      
                                <input class="input" type="tel" id="phone" required>
                                <label class="label" for="phone">Номер телефона</label>
                              </div>
                        </li>
                        <li class="form-list__50">
                             <div class="group">      
                                <input class="input" type="email" id="email" required>
                                <label class="label" for="email">Ваш email</label>
                              </div>
                        </li>
                        <li class="form-list__50">
                            <select class="select">
                                <option>Выберите услугу</option>
                                <option>Выберите услугу</option>
                                <option>Выберите услугу</option>
                            </select>
                        </li>
                        <li class="form-list__100">
                            <div class="group">      
                                <textarea class="textarea" id="textarea"></textarea>
                                <label class="label" for="textarea">Ваше сообщение</label>
                              </div>
                        </li>
                    </ul>
                    <div class="main-form__final">
                        <button class="btn">
                            Отправить
                            <svg>
                                <use xlink:href="img/sprite.svg#icon-arrow-light"></use>
                            </svg>
                        </button>
                        <div class="private">
                            Отправляя данные, вы соглашаетесь
                            с <a class="link" href="#">политикой конфиденциальности</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>