<div class="header">
<div class="header__block-mobile">
    <div>
        <a class="phone" href="tel:0-800-33-7000">0-800-33-7000</a>
    </div>
    <div>
        <ul class="social">
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-viber"></use>
            </svg>
        </a>
    </li>
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-telegram"></use>
            </svg>
        </a>
    </li>
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-messenger"></use>
            </svg>
        </a>
    </li>
</ul>
    </div>
</div>
<div class="header__top">
    <div class="header__top-inner wrapper"> 
        <div class="header__top-item">
            <div>
                <div class="swipe">
    <div class="swipe__btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
            </div>
            <div>
                <a class="logo" href="#">
    <img src="../img/logo.png" alt="" width="164">
</a>

            </div>
            <div>
                <ul class="main-menu">
    <li class="main-menu__item">
        <a class="link" href="#">Персоналу</a>
    </li>
    <li class="main-menu__item">
        <a class="link" href="#">Клиентам</a>
    </li>
</ul>
            </div>
        </div>
        <div class="header__top-item">
            <div class="city choice">
    <svg>
        <use xlink:href="img/sprite.svg#icon-map"></use>
    </svg>
    Ваш город: <a class="choice__link" href="#">Днепропетровск</a> 
</div>
            <div class="country choice">
    Страна: <a class="choice__link" href="#countryModal">Украина</a>
    <div class="country__window choice-window" id="countryModal">
        <div class="choice-window__wrapper">
        <div class="choice-window__title">
            Ваш регион - Украина?
        </div>
        <div class="choice-window__btns">
            <a class="btn" href="#">
                Все верно
            </a>
            <a class="btn btn--light" href="#">
                Выбрать другой
            </a>
        </div>
        <button class="choice-window__close close"></button>
    </div>
    </div>
</div>
            <div class="toggle-button-cover">
    <div class="button-cover">
      <div class="button b2" id="button-10">
        <input type="checkbox" class="checkbox">
        <div class="knobs">
          <span>Укр</span>
        </div>
        <div class="layer"></div>
      </div>
    </div>
  </div>
        </div>
    </div>
</div>
<div class="header__bottom">
    <div class="header__bottom-inner wrapper">
        <div class="header__bottom-item">
            <ul class="menu">
    <li class="menu__item has-child">
        <a href="#">Услуги</a>
        <ul class="">
            <li><a href="#">Аутсорсинг персонала</a></li>
            <li><a href="#">Лизинг персонала</a></li>
            <li><a href="#">Аутстаффинг персонала</a></li>
            <li><a href="#">Фасилити менеджмент</a></li>
            <li><a href="#">Массовый подбор персонала</a></li>
            <li><a href="#">Клининг для бизнеса</a></li>
            <li><a href="#">Аутсорсинг спецодежды</a></li>
        </ul>
    </li>
    <li class="menu__item">
        <a href="#">О компании</a>
    </li>
    <li class="menu__item">
        <a href="#">Калькулятор</a>
    </li>
    <li class="menu__item">
        <a href="#">Контакты</a>
    </li>
</ul>
        </div>
        <div class="header__bottom-item">
            <div>
                <a class="phone" href="tel:0-800-33-7000">0-800-33-7000</a>
            </div>
            <div>
            <ul class="social">
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-viber"></use>
            </svg>
        </a>
    </li>
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-telegram"></use>
            </svg>
        </a>
    </li>
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-messenger"></use>
            </svg>
        </a>
    </li>
</ul>
        </div>
        <div>
            <a class="btn js-modal" href="#tender">Пригласить на тендер</a>
        </div>
    </div>
</div>
</div>
<div class="header__mobile">
    <div class="header__mobile-item">
        <a href="#">Персоналу</a>
    </div> 
    <div class="header__mobile-item">
        <a href="#">Клиентам</a>
    </div> 
</div>
</div>