<section class="section section--invitation">
    <div class="wrapper">
        <div class="invit"> 
        <div class="title-h2">
            Приглашаем на работу!
        </div>
        <div class="invit__tagline">
            Если вы энергичны, ответственны, самостоятельны!
        </div>
        <div class="text">
            <strong>Станьте частью успешной команды Fillin!</strong> Временная работа в Fillin стала 
            постоянным источником дохода для более 5000 человек со всех регионов Украины. 
            Присоединяйтесь к крупнейшему сообществу свободных работников!
        </div>
        <a class="btn js-modal" href="#work">
            Получить работу
            <svg>
                <use xlink:href="img/sprite.svg#icon-arrow"></use>
            </svg>
        </a>
        </div>
    </div>
</section>
