<section class="section section--location">
    <div class="location wrapper">
            <div class="location__item">
                <div class="location__title">
                    Fillin
                </div>
                <div class="location__tagline">
                    это вся Украина
                </div>
            </div>
            <div class="location__item">
                <div class="location__info">
                    Предоставляем услуги по всей территории Украины!
                </div>
                <a class="phone" href="tel:0-800-33-7000">0-800-33-7000</a>
                <div class="location__text">
                    решим любые вопросы с нехваткой персонала для вашего бизнеса.
                </div>
            </div>
    </div>
</section>