<ul class="logo-list">
    <li class="logo-list__item">
        <img src="../img/logo1.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo2.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo3.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo4.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo5.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo6.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo7.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo8.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo9.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo10.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo11.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo12.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo13.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo14.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo15.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo16.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo17.png" alt="">
    </li>
    <li class="logo-list__item">
        <img src="../img/logo18.png" alt="">
    </li>
</ul>