<div class="main-screen">
    <div class="main-screen__wrapper">
        <div class="main-screen__item">
              <picture>
                <source media="(max-width: 1000px)" srcset="../img/back1-tablet.png">
                <img class="page-header__logo-sign" src="../img/back1.png" alt="">
              </picture>
            <div class="main-screen__info">
                <div class="info">
                    <div class="info__item">
                        <div class="info__title info__title--light">
                            Нужна работа?
                        </div>
                        <div class="info__action">
                            Написать нам: <ul class="social">
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-viber"></use>
            </svg>
        </a>
    </li>
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-telegram"></use>
            </svg>
        </a>
    </li>
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-messenger"></use>
            </svg>
        </a>
    </li>
</ul>
                        </div>
                    </div>
                    <div class="info__item">
                        <a class="btn btn--light" href="#">
                            <span>
                            Смотреть вакансии
                            <svg>
                                <use xlink:href="img/sprite.svg#icon-arrow"></use>
                            </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-screen__item">
            <picture>
                <source media="(max-width: 1000px)" srcset="../img/back2-tablet.png">
                <source media="(max-width: 600px)" srcset="../img/back2-mobile.png">
                <img class="page-header__logo-sign" src="../img/back2.png" alt="">
              </picture>
            <div class="main-screen__info">
                <div class="info info--right">
                    <div class="info__item">
                        <div class="info__title">
                            Клиентам
                        </div>
                        <div class="info__text">
                            Fillin - лидер рынка аутсорсинга персонала в Украине и странах СНГ
                        </div>
                    </div>
                    <div class="info__item">
                        <a class="btn js-modal btn--mobile" href="#connect">Смотреть вакансии
                            <svg>
                                <use xlink:href="img/sprite.svg#icon-arrow-light"></use>
                            </svg>
                        </a>
                        <a class="btn js-modal" href="#connect">Связаться с нами
                            <svg>
                                <use xlink:href="img/sprite.svg#icon-arrow-light"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>