<ul class="menu">
    <li class="menu__item has-child">
        <a href="#">Услуги</a>
        <ul class="">
            <li><a href="#">Аутсорсинг персонала</a></li>
            <li><a href="#">Лизинг персонала</a></li>
            <li><a href="#">Аутстаффинг персонала</a></li>
            <li><a href="#">Фасилити менеджмент</a></li>
            <li><a href="#">Массовый подбор персонала</a></li>
            <li><a href="#">Клининг для бизнеса</a></li>
            <li><a href="#">Аутсорсинг спецодежды</a></li>
        </ul>
    </li>
    <li class="menu__item">
        <a href="#">О компании</a>
    </li>
    <li class="menu__item">
        <a href="#">Калькулятор</a>
    </li>
    <li class="menu__item">
        <a href="#">Контакты</a>
    </li>
</ul>