<section class="section">
    <div class="wrapper">   
        <div class="questions">
            <div class="questions__text">
                Остались<br> вопросы?
            </div>
            <div class="questions__form-wrapper">
                <form class="questions__form"> 
                <div class="questions__form-item">
                    <div class="group">      
                        <input class="input input--round" type="text" id="name1" required>
                        <label class="label" for="name1">Ваше имя</label>
                    </div>
                </div>
                <div class="questions__form-item">
                    <div class="group">      
                        <input class="input input--round" type="tel" id="name1" required>
                        <label class="label" for="name1">Ваш телефон</label>
                    </div>
                </div>
                <div class="questions__form-item">
                    <button class="btn btn--light">
                        <span>
                            Заказать консультацию
                            <svg>
                                <use xlink:href="img/sprite.svg#icon-arrow"></use>
                            </svg>
                        </span>
                    </button>
                </div>
                </form>
                <div class="private private--light">
                    Отправляя данные, вы соглашаетесь
                    с <a class="link" href="#">политикой конфиденциальности</a>
                </div>
            </div>


            <img class="questions__angle" src="../img/angle.png" alt="">
        </div>
    </div>
</section>