<section class="section">
    <div class="wrapper">
        <div class="title-h2 title-h2--center">
            Услуги
        </div>
        <ul class="service-list">
    <li class="service-list__item">
        <div class="service-card">
            <div class="service-card__info">
                <div class="service-card__img">
                    <img src="../img/service1.png" alt="">
                </div>
                <div class="service-card__title">
                    Аутсорсинг персонала
                </div>
                <div class="service-card__text">
                    Аутсорсинг линейного персонала от лидера рынка. Оптимизируйте подход к обеспечению линей
                </div>
            </div>
            <div class="service-card__btn">
                <a class="btn" href="#"> 
                    <span>
                    Подробнее
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-arrow-light"></use>
                    </svg>
                </span>
                </a>
            </div>
        </div>
    </li>
    <li class="service-list__item">
        <div class="service-card">
            <div class="service-card__info">
                <div class="service-card__img">
                    <img src="../img/service2.png" alt="">
                </div>
                <div class="service-card__title">
                    Лизинг персонала
                </div>
                <div class="service-card__text">
                    Быстрый и легкий способ гибко управлять количеством линейного персонала у вас в компании
                </div>
            </div>
            <div class="service-card__btn">
                <a class="btn" href="#">Заказать презентацию</a>
            </div>
        </div>
    </li>
    <li class="service-list__item">
        <div class="service-card">
            <div class="service-card__info">
                <div class="service-card__img">
                    <img src="../img/service3.png" alt="">
                </div>
                <div class="service-card__title">
                    Аутстаффинг персонала
                </div>
                <div class="service-card__text">
                    Услуга вывода персонала за штат с использованием собственного ПО для обеспечения простой
                    коммуникации
                </div>
            </div>
            <div class="service-card__btn">
                <a class="btn" href="#"> 
                    <span>
                    Подробнее
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-arrow-light"></use>
                    </svg>
                </span>
                </a>
            </div>
        </div>
    </li>
    <li class="service-list__item">
        <div class="service-card">
            <div class="service-card__info">
                <div class="service-card__img">
                    <img src="../img/service4.png" alt="">
                </div>
                <div class="service-card__title">
                    Фасилити менеджмент
                </div>
                <div class="service-card__text">
                    Комплексное управление инфраструктурой объектов коммерч. недвижимости и организаций
                </div>
            </div>
            <div class="service-card__btn">
                <a class="btn" href="#"> 
                    <span>
                    Подробнее
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-arrow-light"></use>
                    </svg>
                </span>
                </a>
            </div>
        </div>
    </li>
    <li class="service-list__item">
        <div class="service-card">
            <div class="service-card__info">
                <div class="service-card__img">
                    <img src="../img/service5.png" alt="">
                </div>
                <div class="service-card__title">
                    Массовый подбор персонала
                </div>
                <div class="service-card__text">
                    Оперативный подбор линейного персонала к вам в штат во всех регионах страны
                </div>
            </div>
            <div class="service-card__btn">
                <a class="btn" href="#"> 
                    <span>
                    Подробнее
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-arrow-light"></use>
                    </svg>
                </span>
                </a>
            </div>
        </div>
    </li>
    <li class="service-list__item">
        <div class="service-card">
            <div class="service-card__info">
                <div class="service-card__img">
                    <img src="../img/service6.png" alt="">
                </div>
                <div class="service-card__title">
                    Клининг для бизнеса
                </div>
                <div class="service-card__text">
                    Профессиональный подход к управлению объектами и обеспечения чистоты у вас в компании
                </div>
            </div>
            <div class="service-card__btn">
                <a class="btn" href="#"> 
                    <span>
                    Подробнее
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-arrow-light"></use>
                    </svg>
                </span>
                </a>
            </div>
        </div>
    </li>
    <li class="service-list__item">
        <div class="service-card">
            <div class="service-card__info">
                <div class="service-card__img">
                    <img src="../img/service7.png" alt="">
                </div>
                <div class="service-card__title">
                    Аутсорсинг спецодежды
                </div>
                <div class="service-card__text">
                    Новый современный подход к аренде и обслуживанию спецодежды для среднего и крупного бизнеса
                </div>
            </div>
            <div class="service-card__btn">
                <a class="btn" href="#"> 
                    <span>
                    Подробнее
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-arrow-light"></use>
                    </svg>
                </span>
                </a>
            </div>
        </div>
    </li>
</ul>
    </div>
</section>