<nav class="sidebar-menu">
	<div class="sidebar-menu__top">
		<a href="#tel-modal"> Меню</a>
		<div id="nav-icon" class="swipe-close opened">
		  <span></span>
		</div>	
	</div>
	<div class="sidebar-menu__wrapper">
        <div class="city choice">
            Ваш город: <a class="choice__link" href="#">Днепропетровск</a> 
        </div>
        <div class="country choice">
    Страна: <a class="choice__link" href="#countryModal">Украина</a>
    <div class="country__window choice-window" id="countryModal">
        <div class="choice-window__wrapper">
        <div class="choice-window__title">
            Ваш регион - Украина?
        </div>
        <div class="choice-window__btns">
            <a class="btn" href="#">
                Все верно
            </a>
            <a class="btn btn--light" href="#">
                Выбрать другой
            </a>
        </div>
        <button class="choice-window__close close"></button>
    </div>
    </div>
</div>
		<ul class="sidebar-menu__list">
	<li class="sidebar-menu__list-item menu-parent-item">
        <a href="#">Услуги<span></span></a>
		<ul class="sub-menu">
			<li><a href="#">Аутсорсинг персонала</a></li>
			<li><a href="#">Аутстаффинг персонала</a></li>
			<li><a href="#">Лизинг персонала</a></li>
            <li><a href="#">Фасилити менеджмент</a></li>
            <li><a href="#">Массовый подбор персонала</a></li>
            <li><a href="#">Клининг для бизнеса</a></li>
            <li><a href="#">Аутсортинг спецодежды</a></li>
		</ul>
	</li>
	<li class="sidebar-menu__list-item"><a href="#">О компании</a></li>
	<li class="sidebar-menu__list-item"><a href="#">Наши услуги</a></li>
    <li class="sidebar-menu__list-item"><a href="#">Калькулятор</a></li>
    <li class="sidebar-menu__list-item"><a href="#">Специальности</a></li>
    <li class="sidebar-menu__list-item"><a href="#">Медиа</a></li>
    <li class="sidebar-menu__list-item"><a href="#">Вакансии</a></li>
    <li class="sidebar-menu__list-item"><a href="#">Контакты</a></li>
</ul>
	</div>
    <div class="sidebar-menu__social">
        Мы в соцсетях: 
        <ul>
            <li><a href="#"><img src="../img/facebook-icon.png" alt=""></a></li>
            <li><a href="#"><img src="../img/instagram-icon.png" alt=""></a></li>
            <li><a href="#"><img src="../img/youtube-icon.png" alt=""></a></li>
        </ul>

    </div>
</nav>    
<div class="hidden-overley"></div>