<div class="slider-app swiper-container">
    <div class="mobilescreen-image"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="service-widget">
                <div class="post-media">
                    <a href="img/phone1.png"></a>
                    <img class="img-fluid img-rounded" src="../img/phone1.png" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="service-widget">
                <div class="post-media">
                    <a href="img/phone2.png"></a>
                    <img class="img-fluid img-rounded" src="../img/phone2.png" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="service-widget">
                <div class="post-media">
                    <a href="img/phone3.png"></a>
                    <img class="img-fluid img-rounded" src="../img/phone3.png" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="service-widget">
                <div class="post-media">
                    <a href="img/phone1.png"></a>
                    <img class="img-fluid img-rounded" src="../img/phone1.png" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="service-widget">
                <div class="post-media">
                    <a href="img/phone2.png"></a>
                    <img class="img-fluid img-rounded" src="../img/phone2.png" alt="">
                </div>
            </div>
        </div>


    </div>

<div class="swiper-button-next">

</div>

<div class="swiper-button-prev">
    
</div>

</div>  