<ul class="social">
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-viber"></use>
            </svg>
        </a>
    </li>
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-telegram"></use>
            </svg>
        </a>
    </li>
    <li class="social__item"><a href="#">
            <svg>
                <use xlink:href="img/sprite.svg#icon-messenger"></use>
            </svg>
        </a>
    </li>
</ul>