<section class="section">
    <div class="wrapper">
        <div class="works">
            <div class="title-h2 title-h2--center">
                Больше 10 000 работников
            </div>
            <div class="tagline tagline--center">
                Подготовленных для выполнения вашей работы
            </div>
            <ul class="works-list">
    <li class="works-list__item">
        <div class="work-card">
            <div class="work-card__img">
                <img src="../img/work1.png" alt="">
            </div>
            <div class="work-card__info">
                <div class="work-card__title">
                    Грузчик
                </div>
                <div class="work-card__btns">
                    <a class="btn" href="#">
                        Заказать
                    </a>
                    <a class="btn btn--light" href="#">
                        Подробнее
                    </a>
                </div>
            </div>
            <div class="work-card__sticker">
                от 68 грн./час
            </div>
        </div>       
    </li>
    <li class="works-list__item">
        <div class="work-card">
            <div class="work-card__img">
                <img src="../img/work2.png" alt="">
            </div>
            <div class="work-card__info">
                <div class="work-card__title">
                    Продавец-кассир
                </div>
                <div class="work-card__btns">
                    <a class="btn" href="#">
                        Заказать
                    </a>
                    <a class="btn btn--light" href="#">
                        Подробнее
                    </a>
                </div>
            </div>
            <div class="work-card__sticker">
                от 68 грн./час
            </div>
        </div>       
    </li>
    <li class="works-list__item">
        <div class="work-card">
            <div class="work-card__img">
                <img src="../img/work3.png" alt="">
            </div>
            <div class="work-card__info">
                <div class="work-card__title">
                    Комплектовщик
                </div>
                <div class="work-card__btns">
                    <a class="btn" href="#">
                        Заказать
                    </a>
                    <a class="btn btn--light" href="#">
                        Подробнее
                    </a>
                </div>
            </div>
            <div class="work-card__sticker">
                от 68 грн./час
            </div>
        </div>       
    </li>
    <li class="works-list__item">
        <div class="work-card">
            <div class="work-card__img">
                <img src="../img/work4.png" alt="">
            </div>
            <div class="work-card__info">
                <div class="work-card__title">
                    Упаковщик
                </div>
                <div class="work-card__btns">
                    <a class="btn" href="#">
                        Заказать
                    </a>
                    <a class="btn btn--light" href="#">
                        Подробнее
                    </a>
                </div>
            </div>
            <div class="work-card__sticker">
                от 68 грн./час
            </div>
        </div>       
    </li>
</ul>
            <div class="works__link">
                <a class="" href="#">Больше специалистов
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>