<ul class="works-list">
    <li class="works-list__item">
        <div class="work-card">
            <div class="work-card__img">
                <img src="../img/work1.png" alt="">
            </div>
            <div class="work-card__info">
                <div class="work-card__title">
                    Грузчик
                </div>
                <div class="work-card__btns">
                    <a class="btn" href="#">
                        Заказать
                    </a>
                    <a class="btn btn--light" href="#">
                        Подробнее
                    </a>
                </div>
            </div>
            <div class="work-card__sticker">
                от 68 грн./час
            </div>
        </div>       
    </li>
    <li class="works-list__item">
        <div class="work-card">
            <div class="work-card__img">
                <img src="../img/work2.png" alt="">
            </div>
            <div class="work-card__info">
                <div class="work-card__title">
                    Продавец-кассир
                </div>
                <div class="work-card__btns">
                    <a class="btn" href="#">
                        Заказать
                    </a>
                    <a class="btn btn--light" href="#">
                        Подробнее
                    </a>
                </div>
            </div>
            <div class="work-card__sticker">
                от 68 грн./час
            </div>
        </div>       
    </li>
    <li class="works-list__item">
        <div class="work-card">
            <div class="work-card__img">
                <img src="../img/work3.png" alt="">
            </div>
            <div class="work-card__info">
                <div class="work-card__title">
                    Комплектовщик
                </div>
                <div class="work-card__btns">
                    <a class="btn" href="#">
                        Заказать
                    </a>
                    <a class="btn btn--light" href="#">
                        Подробнее
                    </a>
                </div>
            </div>
            <div class="work-card__sticker">
                от 68 грн./час
            </div>
        </div>       
    </li>
    <li class="works-list__item">
        <div class="work-card">
            <div class="work-card__img">
                <img src="../img/work4.png" alt="">
            </div>
            <div class="work-card__info">
                <div class="work-card__title">
                    Упаковщик
                </div>
                <div class="work-card__btns">
                    <a class="btn" href="#">
                        Заказать
                    </a>
                    <a class="btn btn--light" href="#">
                        Подробнее
                    </a>
                </div>
            </div>
            <div class="work-card__sticker">
                от 68 грн./час
            </div>
        </div>       
    </li>
</ul>