<section class="section">
 <div class="white-container white-container--bg">
  <div class="section__inner">
  <div class="about-section">
   <div class="wrapper">
     <div class="block">
    <div class="block__item">
    <div class="main-title main-title--grey">
      О нашей компании
     </div>
     <div class="text">
       <p>Центры диагностики «МРТшка» специализируются на предоставлении качественных медицинских услуг.</p>
<p>Все наши диагностические центры оснащены современным оборудованием экспертного класса, в т.ч. МРТ с напряженностью поля 1,5 Тесла.</p>
<p>Медицинский персонал наших центров имеет высокую квалификацию и обладает большим опытом в области диагностики. Мы объединяем врачей из разных регионов страны, что дает возможность развивать профессиональные навыки и знания сотрудников и решать сложные в диагностическом отношении случаи с помощью консилиума врачей.</p>
<p>Мы создаем ощутимое качество для каждого посетителя: доступные цены и время работы, удобное расположение, профессиональное обслуживание, приятная и успокаивающая обстановка, современные методы диагностики.</p>
     </div>
      <a class="magic-link" href="#">Подробнее</a>
      </div>
      <div class="block__item">
       <div class="block__img">
<!--        <img class="block__content-border" src="img/border.png" alt="">-->
        <div class="block__img-item" data-scrub="0.4">
        <img class="block__content-img-big animate-img" src="img/foto1.png" alt="">
         </div>
          <div class="block__img-item" data-scrub="0.2">
        <img class="block__content-img-small animate-img" src="img/foto2.png" alt="">
         </div>
        </div>
      </div>
     </div>
 </div>
  </div>
   </div>
  </div>
</section>