  <div class="white-container">
 <div class="wrapper">
  <ul class="advantage">
  <li class="advantage__item">
    <div class="link-block">
      <svg>
        <use xlink:href="img/sprite.svg#icon-inner1"></use>
      </svg>
      <span>
        Обследование без очередей
      </span>
    </div>
  </li>
  <li class="advantage__item">
    <div class="link-block">
      <a href="#"></a>
      <svg>
        <use xlink:href="img/sprite.svg#icon-inner2"></use>
      </svg>
      <span>
        Медицинский персонал наших
центров имеет высокую
квалификацию
      </span>
    </div>
  </li>
  <li class="advantage__item">
    <div class="link-block">
      <a href="#"></a>
      <svg>
        <use xlink:href="img/sprite.svg#icon-inner3"></use>
      </svg>
      <span>
        Современное оборудование от ведущих мировых производителей
      </span>
    </div>
  </li>
  <li class="advantage__item">
     <div class="link-block">
      <a href="#"></a>
      <svg>
        <use xlink:href="img/sprite.svg#icon-inner4"></use>
      </svg>
      <span>
        Бесплатная
консультация
врача
      </span>
    </div>
  </li>
 </ul>
  </div>
</div>