<section class="section">
    <div class="white-container">
       <div class="section__inner">
        <div class="wrapper">
            <div class="main-title main-title--center">
                Современное оборудование
            </div>
            <div class="text text--center">
                LOGIQ P9 — это новейший универсальный аппарат высокого класса от компании GE Healthcare. Система является следующим витком развития популярной серии «P», и построена на совершенно новой архитектуре с невероятно высокой производительностью, превосходным качеством визуализации и высочайшей эргономикой. Он комплектуется высокоплотными датчиками и обладает самыми современными программными и аппаратными ресурсами, которые позволят врачу быстро и качественно проводить диагностику в любой области исследования.
            </div>
            <div class="device">
               <img class="gs_reveal" src="img/ellipse.png" alt="">
                <ul class="device-list">
                    <li class="device-list__item gs_reveal gs_reveal_fromLeft">
                      <span>Мощное оборудование экспертного
                        и высокого классов от европейских, корейских производителей.</span>
                    </li>
                    <li class="device-list__item gs_reveal gs_reveal_fromLeft">
                      <span>Постоянное обновление программного обеспечения.</span>
                    </li>
                    <li class="device-list__item gs_reveal gs_reveal_fromLeft">
                      <span>Профессиональные настройки оборудования для обеспечения высокого качества изображений
                        при диагностике</span>
                    </li>
                    <li class="device-list__item gs_reveal gs_reveal_fromRight">
                      <span>Заключение врача-рентгенолога через 20 минут</span>
                    </li>
                    <li class="device-list__item gs_reveal gs_reveal_fromRight">
                      <span>Широкое отверстие для пациента, вместимость до 120 кг</span>
                    </li>
                    <li class="device-list__item gs_reveal gs_reveal_fromRight">
                      <span>Лифтовая система позволяет опускать стол на высоту 50 см
                        от пола</span>
                    </li>
                 </ul>
            </div>
        </div>
    </div>
  </div>
</section>
