 <section class="section">
 <div class="white-container">
 <div class="wrapper">
  <ul class="feauters">
    <li class="feauters__item">
      <div class="feauters__card">
        <svg>
        <use xlink:href="img/sprite.svg#icon-feauters1"></use>
        </svg>
        <span>Высокоточная техника</span>
      </div>
    </li>
    <li class="feauters__item">
      <div class="feauters__card">
        <svg>
        <use xlink:href="img/sprite.svg#icon-feauters2"></use>
        </svg>
        <span>Экспертное качество описания</span>
      </div>
    </li>
    <li class="feauters__item">
      <div class="feauters__card">
        <svg>
        <use xlink:href="img/sprite.svg#icon-feauters3"></use>
        </svg>
        <span>Мы работаем профессионально</span>
      </div>
    </li>
    <li class="feauters__item">
      <div class="feauters__card">
        <svg>
        <use xlink:href="img/sprite.svg#icon-feauters4"></use>
        </svg>
        <span>Цена и качество Вас приятно удивят</span>
      </div>
    </li>
  </ul>
</div>
   </div>
</section>