<footer class="page-footer">
<div class="page-footer__wrapper wrapper">
<div class="page-footer__wrapper-item">
 <div class="page-footer__info">
 <div class="page-footer__info-item">
  <div class="copyright">© «Mrtshka» 2020г.</div>
   </div>
   <div class="page-footer__info-item">
  <a class="page-footer__phone" href="tel:88442242401">+7 (8442) 24-24-01</a>
   </div>
  </div>
  </div>
<div class="page-footer__wrapper-item">
<div class="page-footer__info">
@include("social-block.html")
 <div class="page-footer__text">
 Информация, включая цены, предоставлена для ознакомления и не является публичной офертой ( ст. 435 ГК РФ, cт. 437 ГК РФ ).
  </div>
  </div>
  </div>
  </div>
</footer>
