<footer class="page-footer">
<div class="page-footer__wrapper wrapper">
<div class="page-footer__wrapper-item">
 <div class="page-footer__info">
 <div class="page-footer__info-item">
  <div class="copyright">© «Mrtshka» 2020г.</div>
   </div>
   <div class="page-footer__info-item">
  <a class="page-footer__phone" href="tel:88442242401">+7 (8442) 24-24-01</a>
   </div>
  </div>
  </div>
<div class="page-footer__wrapper-item">
<div class="page-footer__info">
<ul class="social-list">
   <li class="social-list__item">
        <a class="social-list__icon social-list__icon--vk" href="#" aria-label="Вконтакте" target="_blank"></a>
    </li>
    <li class="social-list__item">
        <a class="social-list__icon social-list__icon--fb" href="#" aria-label="Фейсбук" target="_blank"></a>
    </li>
     <li class="social-list__item">
        <a class="social-list__icon social-list__icon--inst" href="#" aria-label="Инстаграм" target="_blank"></a>
    </li>
    <li class="social-list__item">
        <a class="social-list__icon social-list__icon--ok" href="#" aria-label="Одноклассники" target="_blank"></a>
    </li>
     <li class="social-list__item">
        <a class="social-list__icon social-list__icon--youtube" href="#" aria-label="Ютьюб" target="_blank"></a>
    </li>
</ul>

 <div class="page-footer__text">
 Информация, включая цены, предоставлена для ознакомления и не является публичной офертой ( ст. 435 ГК РФ, cт. 437 ГК РФ ).
  </div>
  </div>
  </div>
  </div>
</footer>
