<header class="page-header">
    <div class="page-header__wrapper">
        <div class="page-header__inner wrapper">
            <div class="page-header__item">
                <a href="#menu" class="mobile-menu">
                    <span></span>
                </a>
                @include("logo.html")
            </div>
            <div class="page-header__item">
                @include("main-menu.html")
            </div>
            <div class="page-header__item">
                @include("phone.html")
            </div>
        </div>
        @include("phone.html")
    </div>
</header>
