<header class="page-header">
    <div class="page-header__wrapper">
        <div class="page-header__inner wrapper">
            <div class="page-header__item">
                <a href="#menu" class="mobile-menu">
                    <span></span>
                </a>
                <div class="logo">
    <a href="#">
        <img src="img/logo.png" alt="">
    </a>
</div>
            </div>
            <div class="page-header__item">
                <nav class="main-nav">
  <ul class="main-menu">
    <li class="main-menu__item"><a class="active" href="#">Главная</a></li>
    <li class="main-menu__item"><a href="#">Об услугах</a></li>
    <li class="main-menu__item"><a href="#">Наши центры</a></li>
    <li class="main-menu__item"><a href="#">Контакты</a></li>
  </ul>
</nav>
            </div>
            <div class="page-header__item">
                <div class="phone">
    <a href="tel:88442242401">
    <svg>
        <use xlink:href="img/sprite.svg#icon-phone"></use>
    </svg>
      <span>+7 (8442) 24-24-01</span></a>
</div>
            </div>
        </div>
        <div class="phone">
    <a href="tel:88442242401">
    <svg>
        <use xlink:href="img/sprite.svg#icon-phone"></use>
    </svg>
      <span>+7 (8442) 24-24-01</span></a>
</div>
    </div>
</header>
