<ul class="links-list">
  <li class="links-list__item">
    <div class="link-block">
      <a href="#"></a>
      <svg>
        <use xlink:href="img/sprite.svg#icon-conf"></use>
      </svg>
      <span>
        Политика конфиденциальности
      </span>
    </div>
  </li>
  <li class="links-list__item">
    <div class="link-block">
      <a href="#"></a>
      <svg>
        <use xlink:href="img/sprite.svg#icon-safe"></use>
      </svg>
      <span>
        Закон о защите прав потребителей
      </span>
    </div>
  </li>
  <li class="links-list__item">
    <div class="link-block">
      <a href="#"></a>
      <svg>
        <use xlink:href="img/sprite.svg#icon-rule"></use>
      </svg>
      <span>
        Правила предоставления платных медицинских услуг
      </span>
    </div>
  </li>
  <li class="links-list__item">
     <div class="link-block">
      <a href="#"></a>
      <svg>
        <use xlink:href="img/sprite.svg#icon-laws"></use>
      </svg>
      <span>
        Законы и нормативные акты
      </span>
    </div>
  </li>
  <li class="links-list__item">
    <div class="link-block-vertical">
    <img src="img/organs.png" alt="">
    <a href="#">
        Контролирующие органы
      </a>
    </div>
  </li>
</ul>