<section class="main-section">
    <div class="main-screen">
        <div class="main-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="main-slider__inner slide-inner" style="background-image:url('img/slide1.png')">
                    <div class="main-slider__info wrapper">
                    <div class="main-slider__title gs_reveal">
                      Диагностика <br>в МРТшке
                    </div>
                    <div class="main-slider__tagline gs_reveal">
                      Мощное оборудование экспертного и высокого классов от европейских, корейских производителей.
                    </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="main-slider__inner slide-inner" style="background-image:url('img/slide1.png')">
                    <div class="main-slider__info wrapper">
                    <div class="main-slider__title">
                      Диагностика <br>в МРТшке
                    </div>
                    <div class="main-slider__tagline">
                      Мощное оборудование экспертного и высокого классов от европейских, корейских производителей.
                    </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="main-slider__inner slide-inner" style="background-image:url('img/slide1.png')">
                    <div class="main-slider__info wrapper">
                    <div class="main-slider__title">
                      Диагностика <br>в МРТшке
                    </div>
                    <div class="main-slider__tagline">
                      Мощное оборудование экспертного и высокого классов от европейских, корейских производителей.
                    </div>
                    </div>
                  </div>
                </div>
              <div class="swiper-slide">
                  <div class="main-slider__inner slide-inner" style="background-image:url('img/slide1.png')">
                    <div class="main-slider__info wrapper">
                    <div class="main-slider__title">
                      Диагностика <br>в МРТшке
                    </div>
                    <div class="main-slider__tagline">
                      Мощное оборудование экспертного и высокого классов от европейских, корейских производителей.
                    </div>
                    </div>
                  </div>
                </div>
            </div>
           <div class="swiper-pagination main-slider__pagination"></div>
        </div>
    </div>

</section>