<section class="section">
    <div class="section__inner">
        <div class="mans">
            <div class="wrapper">
                <div class="main-title main-title--center">
                    Наши специалисты
                </div>
                <ul class="mans-list">
    <li class="mans-list__item">
      <a href="#"></a>
    <img src="img/man1.png" alt="">
    <div class="mans-list__wrapper">
      <div class="mans-list__info">
       <div class="mans-list__name">
        Алексеев Игорь Борисович
       </div>
       <div class="mans-list__text">
        Врач-офтальмолог. Доктор медицинских наук. Профессор
       </div>
      </div>
      </div>
    </li>
    <li class="mans-list__item">
     <a href="#"></a>
      <img src="img/man2.png" alt="">
      <div class="mans-list__wrapper">
      <div class="mans-list__info">
       <div class="mans-list__name">
        Алексеев Игорь Борисович
       </div>
       <div class="mans-list__text">
        Врач-офтальмолог. Доктор медицинских наук. Профессор
       </div>
      </div>
      </div>
    </li>
    <li class="mans-list__item">
     <a href="#"></a>
      <img src="img/man3.png" alt="">
      <div class="mans-list__wrapper">
      <div class="mans-list__info">
       <div class="mans-list__name">
        Алексеева Маргарита
       </div>
       <div class="mans-list__text">
        Врач-офтальмолог. Доктор медицинских наук. Профессор
       </div>
      </div>
      </div>
    </li>
    <li class="mans-list__item">
     <a href="#"></a>
      <img src="img/man4.png" alt="">
     <div class="mans-list__wrapper">
      <div class="mans-list__info">
       <div class="mans-list__name">
        Алексеев Игорь Борисович
       </div>
       <div class="mans-list__text">
        Врач-офтальмолог. Доктор медицинских наук. Профессор
       </div>
      </div>
      </div>
    </li>
    <li class="mans-list__item">
     <a href="#"></a>
      <img src="img/man5.png" alt="">
      <div class="mans-list__wrapper">
      <div class="mans-list__info">
       <div class="mans-list__name">
        Алексеев Игорь Борисович
       </div>
       <div class="mans-list__text">
        Врач-офтальмолог. Доктор медицинских наук. Профессор
       </div>
      </div>
      </div>
    </li>
    <li class="mans-list__item">
     <a href="#"></a>
      <img src="img/man6.png" alt="">
      <div class="mans-list__wrapper">
      <div class="mans-list__info">
       <div class="mans-list__name">
        Алексеев Игорь Борисович
       </div>
       <div class="mans-list__text">
        Врач-офтальмолог. Доктор медицинских наук. Профессор
       </div>
      </div>
      </div>
    </li>
    <li class="mans-list__item">
     <a href="#"></a>
      <img src="img/man4.png" alt="">
      <div class="mans-list__wrapper">
      <div class="mans-list__info">
       <div class="mans-list__name">
        Алексеев Игорь Борисович
       </div>
       <div class="mans-list__text">
        Врач-офтальмолог. Доктор медицинских наук. Профессор
       </div>
      </div>
      </div>
    </li>
    <li class="mans-list__item">
     <a href="#"></a>
      <img src="img/man8.png" alt="">
      <div class="mans-list__wrapper">
      <div class="mans-list__info">
       <div class="mans-list__name">
        Алексеев Игорь Борисович
       </div>
       <div class="mans-list__text">
        Врач-офтальмолог. Доктор медицинских наук. Профессор
       </div>
      </div>
      </div>
    </li>
    <li class="mans-list__item">
     <a href="#"></a>
      <img src="img/man8.png" alt="">
      <div class="mans-list__wrapper">
      <div class="mans-list__info">
       <div class="mans-list__name">
        Алексеев Игорь Борисович
       </div>
       <div class="mans-list__text">
        Врач-офтальмолог. Доктор медицинских наук. Профессор
       </div>
      </div>
      </div>
    </li>
    <li class="mans-list__item">
     <a href="#"></a>
      <img src="img/man8.png" alt="">
      <div class="mans-list__wrapper">
      <div class="mans-list__info">
       <div class="mans-list__name">
        Алексеев Игорь Борисович
       </div>
       <div class="mans-list__text">
        Врач-офтальмолог. Доктор медицинских наук. Профессор
       </div>
      </div>
      </div>
    </li>
    <li class="mans-list__item">
     <a href="#"></a>
      <img src="img/man8.png" alt="">
      <div class="mans-list__wrapper">
      <div class="mans-list__info">
       <div class="mans-list__name">
        Алексеев Игорь Борисович
       </div>
       <div class="mans-list__text">
        Врач-офтальмолог. Доктор медицинских наук. Профессор
       </div>
      </div>
      </div>
    </li>
    <li class="mans-list__item">
     <a href="#"></a>
      <img src="img/man8.png" alt="">
      <div class="mans-list__wrapper">
      <div class="mans-list__info">
       <div class="mans-list__name">
        Алексеев Игорь Борисович
       </div>
       <div class="mans-list__text">
        Врач-офтальмолог. Доктор медицинских наук. Профессор
       </div>
      </div>
      </div>
    </li>
    <li class="mans-list__item">
     <a href="#"></a>
      <img src="img/man8.png" alt="">
      <div class="mans-list__wrapper">
      <div class="mans-list__info">
       <div class="mans-list__name">
        Алексеев Игорь Борисович
       </div>
       <div class="mans-list__text">
        Врач-офтальмолог. Доктор медицинских наук. Профессор
       </div>
      </div>
      </div>
    </li>
</ul>
<!--
              <div class="spoiler">
                <div class="magic-link">
                  Показать еще
                </div>
              </div>
-->
            </div>
        </div>
    </div>
</section>