<div class="map">
   <div class="map__info wrapper">
        <div class="map__descr gs_reveal gs_reveal_fromRight">
            <div class="map__descr-item">
                <div class="map__descr-title">
                    МРТшка-Волгоград
                </div>
                <div class="map__descr-text">
                    ул. Пролетарская, 24
                </div>
                <div class="map__descr-text">
                    Остановка "ул. Пролетарская" на проспекте Героев Сталинграда Автобусы: 6А, 55, 55К, 77, 77А, 79, 103 Трамвай: 11
                </div>
                <div class="map__descr-contacts">
                    <div class="map__descr-contacts-item">
                        <a href="tel:88442242401">+7 (8442) 24-24-01</a>
                        <a href="mailto:242401@mrtshka.ru">242401@mrtshka.ru</a>
                    </div>
                    <div class="map__descr-contacts-item">
                        <span>Круглосуточно</span>
                    </div>

                </div>
            </div>
            <div class="map__descr-item">
                <img src="img/map.png" alt="">
            </div>
        </div>
    </div>
     <div class="map__block">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2642.9069963490397!2d44.53158941507319!3d48.51584753271883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41052f793163ea7f%3A0x7d2bd76f1cfd7d34!2z0J_RgNC-0LvQtdGC0LDRgNGB0LrQsNGPINGD0LsuLCAyNCwg0JLQvtC70LPQvtCz0YDQsNC0LCDQktC-0LvQs9C-0LPRgNCw0LTRgdC60LDRjyDQvtCx0LsuLCA0MDAwMjY!5e0!3m2!1sru!2sru!4v1607520558580!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>