<nav class="nav-mobile" id="menu">
    <ul id="panel-menu">
        <li><a class="active" href="#">Главная</a>
        </li>
        <li><a href="#">Об услугах</a>
            <ul>
                <li><a class="active" href="">Услуги и цены</a>
                </li>
                <li><a href="">О центре</a>
                </li>
                <li><a href="">Команда</a>
                </li>
                <li><a href="">Оборудование</a>
                </li>
            </ul>
        </li>
        <li><a href="#">Наши центры</a>
        </li>
        <li><a href="#">Контакты</a>
        </li>
    </ul>
</nav>
