<section class="section">
    <div class="section__inner">
        <div class="wrapper">
            <div class="title-block">
                <div class="title-block__item">
                    <div class="main-title main-title--light">
                        Что люди пишут о нас
                    </div>
                </div>
                <div class="title-block__item">
                    <div class="arrow-slider arrow-slider--review">
                        <button class="swiper-button-prev" tabindex="-1" aria-label="Previous slide" aria-controls="swiper-wrapper-1056b49fc0bab84e5" aria-disabled="true">
                            <svg>
                                <use xlink:href="img/sprite.svg#icon-arrow-prev"></use>
                            </svg>
                        </button>
                        <button class="swiper-button-next" tabindex="0" aria-label="Next slide" aria-controls="swiper-wrapper-1056b49fc0bab84e5" aria-disabled="false">
                            <svg>
                                <use xlink:href="img/sprite.svg#icon-arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
         <section class="photo-slider">
      <div class="photo-slider__slider-left slider-left swiper-container">
        <div class="slider-left__wrapper swiper-wrapper">
          <div class="slider-left__slide swiper-slide">
            <div class="slider-left__wrap">
              <div class="slider-left__text">
                Узнала о вас в интернете — нужно срочно сделать МРТ. И вот после спектакля я у вас. Мне очень понравились ваши сотрудники.
                Спасибо за внимание, доброжелательность и точность. Пусть у вас всё будет так же хорошо на душе, как у меня сейчас, несмотря
                на все проблемы... Будьте!!! Нам на радость!
              </div>
              <div class="slider-left__name">Алиса Иванова</div>
            </div>
            <div class="slider-left__image"><img src="./img/slide-1.png" alt="" /></div>
          </div>
          <div class="slider-left__slide swiper-slide">
            <div class="slider-left__wrap">
              <div class="slider-left__text">
                Узнала о вас в интернете — нужно срочно сделать МРТ. И вот после спектакля я у вас. Мне очень понравились ваши сотрудники.
                Спасибо за внимание, доброжелательность и точность. Пусть у вас всё будет так же хорошо на душе, как у меня сейчас, несмотря
                на все проблемы... Будьте!!! Нам на радость!
              </div>
              <div class="slider-left__name">Алиса Иванова</div>
            </div>
            <div class="slider-left__image"><img src="./img/slide-2.png" alt="" /></div>
          </div>
          <div class="slider-left__slide swiper-slide">
            <div class="slider-left__wrap">
              <div class="slider-left__text">
                Узнала о вас в интернете — нужно срочно сделать МРТ. И вот после спектакля я у вас. Мне очень понравились ваши сотрудники.
                Спасибо за внимание, доброжелательность и точность. Пусть у вас всё будет так же хорошо на душе, как у меня сейчас, несмотря
                на все проблемы... Будьте!!! Нам на радость!
              </div>
              <div class="slider-left__name">Алиса Иванова</div>
            </div>
            <div class="slider-left__image"><img src="./img/slide-3.png" alt="" /></div>
          </div>
          <div class="slider-left__slide swiper-slide">
            <div class="slider-left__wrap">
              <div class="slider-left__text">
                Узнала о вас в интернете — нужно срочно сделать МРТ. И вот после спектакля я у вас. Мне очень понравились ваши сотрудники.
                Спасибо за внимание, доброжелательность и точность. Пусть у вас всё будет так же хорошо на душе, как у меня сейчас, несмотря
                на все проблемы... Будьте!!! Нам на радость!
              </div>
              <div class="slider-left__name">Алиса Иванова</div>
            </div>
            <div class="slider-left__image"><img src="./img/slide-4.png" alt="" /></div>
          </div>
          <div class="slider-left__slide swiper-slide">
            <div class="slider-left__wrap">
              <div class="slider-left__text">
                Узнала о вас в интернете — нужно срочно сделать МРТ. И вот после спектакля я у вас. Мне очень понравились ваши сотрудники.
                Спасибо за внимание, доброжелательность и точность. Пусть у вас всё будет так же хорошо на душе, как у меня сейчас, несмотря
                на все проблемы... Будьте!!! Нам на радость!
              </div>
              <div class="slider-left__name">Алиса Иванова</div>
            </div>
            <div class="slider-left__image"><img src="./img/slide-5.png" alt="" /></div>
          </div>
          <div class="slider-left__slide swiper-slide">
            <div class="slider-left__wrap">
              <div class="slider-left__text">
                Узнала о вас в интернете — нужно срочно сделать МРТ. И вот после спектакля я у вас. Мне очень понравились ваши сотрудники.
                Спасибо за внимание, доброжелательность и точность. Пусть у вас всё будет так же хорошо на душе, как у меня сейчас, несмотря
                на все проблемы... Будьте!!! Нам на радость!
              </div>
              <div class="slider-left__name">Алиса Иванова</div>
            </div>
            <div class="slider-left__image"><img src="./img/slide-4.png" alt="" /></div>
          </div>
          <div class="slider-left__slide swiper-slide">
            <div class="slider-left__wrap">
              <div class="slider-left__text">
                Узнала о вас в интернете — нужно срочно сделать МРТ. И вот после спектакля я у вас. Мне очень понравились ваши сотрудники.
                Спасибо за внимание, доброжелательность и точность. Пусть у вас всё будет так же хорошо на душе, как у меня сейчас, несмотря
                на все проблемы... Будьте!!! Нам на радость!
              </div>
              <div class="slider-left__name">Алиса Иванова</div>
            </div>
            <div class="slider-left__image"><img src="./img/slide-4.png" alt="" /></div>
          </div>
          <div class="slider-left__slide swiper-slide">
            <div class="slider-left__wrap">
              <div class="slider-left__text">
                Узнала о вас в интернете — нужно срочно сделать МРТ. И вот после спектакля я у вас. Мне очень понравились ваши сотрудники.
                Спасибо за внимание, доброжелательность и точность. Пусть у вас всё будет так же хорошо на душе, как у меня сейчас, несмотря
                на все проблемы... Будьте!!! Нам на радость!
              </div>
              <div class="slider-left__name">Алиса Иванова</div>
            </div>
            <div class="slider-left__image"><img src="./img/slide-4.png" alt="" /></div>
          </div>
      </div>
  </div>
</section>
    </div>
</section>

