<section class="section">
    <div class="section__inner">
        <div class="wrapper">
            <div class="main-title main-title--light">
                Наши услуги
            </div>
            <ul class="services-list">
  <li class="services-list__item gs_reveal gs_reveal_fromLeft">
    <div class="services-card">
      <img src="img/services1.png" alt="">
   <div class="services-card__info">
    <div class="services-card__info-inner">
     <a href="#"></a>
       <div class="services-card__info-name">
     <div class="services-card__title">
     МРТ
     </div>
      <div class="services-card__tagline">
      Магнитно-резонансная томография
     </div>
      </div>
      <div class="services-card__icon">
     <svg>
        <use xlink:href="img/sprite.svg#icon-arrow"></use>
    </svg>
      </div>
     </div>
      </div>
    </div>
  </li>
  <li class="services-list__item gs_reveal gs_reveal_fromRight">
     <div class="services-card">
      <img src="img/services2.png" alt="">
   <div class="services-card__info">
     <div class="services-card__info-inner">
     <a href="#"></a>
       <div class="services-card__info-name">
     <div class="services-card__title">
     УЗИ
     </div>
      <div class="services-card__tagline">
      Ультразвуковое исследование
     </div>
      </div>
      <div class="services-card__icon">
     <svg>
        <use xlink:href="img/sprite.svg#icon-arrow"></use>
    </svg>
      </div>
     </div>
      </div>
    </div>
  </li>
</ul>
        </div>
    </div>
</section>