<ul class="banner-list">
    <li class="banner-list__item">
        <div class="card">
                <div class="card__img">
                <img src="img/banner1.png" alt="">
            </div>
            <div class="card__descr">
            <div class="card__info">
               Только 27 сентября скидка 30% на МРТ внутренних органов и мягких тканей
            </div>
            <div class="card__link">
                <span class="magic-link">Подробнее</span>
            </div>
          </div>
        </div>
    </li>
    <li class="banner-list__item">
        <div class="card">
                 <div class="card__img">
                <img src="img/banner2.png" alt="">
            </div>
            <div class="card__descr">
            <div class="card__info">
               Скидка 20% на все виды МРТ при первичном посещении клиники
            </div>
            <div class="card__link">
                <span class="magic-link">Подробнее</span>
            </div>
          </div>
        </div>
    </li>
    <li class="banner-list__item">
        <div class="card">
             <div class="card__img">
                <img src="img/banner3.png" alt="">
            </div>
            <div class="card__descr">
            <div class="card__info">
               Скидка 30% на МРТ внутренних органов и мягких тканей
            </div>
            <div class="card__link">
                <span class="magic-link">Подробнее</span>
            </div>
          </div>
        </div>
    </li>
    <li class="banner-list__item">
        <div class="card">
               <div class="card__img">
                <img src="img/banner4.png" alt="">
            </div>
            <div class="card__descr">
            <div class="card__info">
               МРТ позвоночника
               <div class="card__price">
              <div class="card__price-old">
               13 500 ₽
              </div>
               <div class="card__price-new">
               10 000 ₽
              </div>
            </div>
            </div>
            <div class="card__link">
                <span class="magic-link">Подробнее</span>
            </div>
          </div>
        </div>
    </li>
</ul>