<ul class="social-list">
   <li class="social-list__item">
        <a class="social-list__icon social-list__icon--vk" href="#" aria-label="Вконтакте" target="_blank"></a>
    </li>
    <li class="social-list__item">
        <a class="social-list__icon social-list__icon--fb" href="#" aria-label="Фейсбук" target="_blank"></a>
    </li>
     <li class="social-list__item">
        <a class="social-list__icon social-list__icon--inst" href="#" aria-label="Инстаграм" target="_blank"></a>
    </li>
    <li class="social-list__item">
        <a class="social-list__icon social-list__icon--ok" href="#" aria-label="Одноклассники" target="_blank"></a>
    </li>
     <li class="social-list__item">
        <a class="social-list__icon social-list__icon--youtube" href="#" aria-label="Ютьюб" target="_blank"></a>
    </li>
</ul>
