<table class="fold-table table-responsive">
    <thead>
        <tr>
            <th>Магнитно-резонансная томография</th>
            <th>День, ₽</th>
            <th>Ночь, ₽</th>
        </tr>
    </thead>
    <tbody>
        <tr class="view">
            <td colspan="3">Голова</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                    <table>
                        <tbody>
                            <tr>
                                <td>Головной мозг</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Артерии головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Вены головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Головной мозг с сосудами</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Гипофиз</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Гипофиз с динамическим контрастированием</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Глазные орбиты и зрительный нерв</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Придаточные пазухи носа (синусы)</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
       <tr class="view">
            <td colspan="3">Шея</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                    <table>
                        <tbody>
                            <tr>
                                <td>Головной мозг</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Артерии головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Вены головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr class="view">
            <td colspan="3">Грудная клетка</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                    <table>
                        <tbody>
                            <tr>
                                <td>Головной мозг</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Артерии головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Вены головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr class="view">
            <td colspan="3">Брюшная полость</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                    <table>
                        <tbody>
                            <tr>
                                <td>Головной мозг</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Артерии головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Вены головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr class="view">
            <td colspan="3">Малый таз</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                    <table>
                        <tbody>
                            <tr>
                                <td>Головной мозг</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Артерии головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Вены головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr class="view">
            <td colspan="3">Верхние конечности</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                    <table>
                        <tbody>
                            <tr>
                                <td>Головной мозг</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Артерии головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Вены головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr class="view">
            <td colspan="3">Нижние конечности</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                    <table>
                        <tbody>
                            <tr>
                                <td>Головной мозг</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Артерии головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Вены головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </td>
        </tr>
      <tr class="view">
            <td colspan="3">Комплексные исследования МРТ</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                    <table>
                        <tbody>
                            <tr>
                                <td>Головной мозг</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Артерии головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Вены головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr class="view">
            <td colspan="3">Комплексные исследования</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                    <table>
                        <tbody>
                            <tr>
                                <td>Головной мозг</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Артерии головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                            <tr>
                                <td>Вены головного мозга</td>
                                <td data-title="День, ₽">2 600</td>
                                <td data-title="Ночь, ₽">2 600</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table class="fold-table table-responsive">
    <thead>
        <tr>
            <th colspan="2">УЗИ</th>
            <th>Цена, ₽</th>
        </tr>
    </thead>
    <tbody>
        <tr class="view">
            <td colspan="3">Голова</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                    <table>
                        <tbody>
                            <tr>
                                <td colspan="2">Сосуды головного мозга</td>
                                <td data-title="Цена, ₽">45</td>
                            </tr>
                            <tr>
                                <td colspan="2">Сосуды головного мозга и шеи</td>
                                <td data-title="Цена, ₽">45 000</td>
                             </tr>
                            <tr>
                                <td colspan="2">Нейросонография (дети до 1 года)</td>
                                <td data-title="Цена, ₽">600</td>
                            </tr>
                            <tr>
                                <td colspan="2">Артерии головного мозга</td>
                                <td data-title="Цена, ₽">2 600</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
       <tr class="view">
            <td colspan="3">Шея</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                     <table>
                        <tbody>
                            <tr>
                                <td colspan="2">Сосуды головного мозга</td>
                                <td data-title="Цена, ₽">45</td>
                            </tr>
                            <tr>
                                <td colspan="2">Сосуды головного мозга и шеи</td>
                                <td data-title="Цена, ₽">45 000</td>
                             </tr>
                            <tr>
                                <td colspan="2">Нейросонография (дети до 1 года)</td>
                                <td data-title="Цена, ₽">600</td>
                            </tr>
                            <tr>
                                <td colspan="2">Артерии головного мозга</td>
                                <td data-title="Цена, ₽">2 600</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr class="view">
            <td colspan="3">Грудная клетка</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                     <table>
                        <tbody>
                            <tr>
                                <td colspan="2">Сосуды головного мозга</td>
                                <td data-title="Цена, ₽">45</td>
                            </tr>
                            <tr>
                                <td colspan="2">Сосуды головного мозга и шеи</td>
                                <td data-title="Цена, ₽">45 000</td>
                             </tr>
                            <tr>
                                <td colspan="2">Нейросонография (дети до 1 года)</td>
                                <td data-title="Цена, ₽">600</td>
                            </tr>
                            <tr>
                                <td colspan="2">Артерии головного мозга</td>
                                <td data-title="Цена, ₽">2 600</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr class="view">
            <td colspan="3">Брюшная полость</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                     <table>
                        <tbody>
                            <tr>
                                <td colspan="2">Сосуды головного мозга</td>
                                <td data-title="Цена, ₽">45</td>
                            </tr>
                            <tr>
                                <td colspan="2">Сосуды головного мозга и шеи</td>
                                <td data-title="Цена, ₽">45 000</td>
                             </tr>
                            <tr>
                                <td colspan="2">Нейросонография (дети до 1 года)</td>
                                <td data-title="Цена, ₽">600</td>
                            </tr>
                            <tr>
                                <td colspan="2">Артерии головного мозга</td>
                                <td data-title="Цена, ₽">2 600</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr class="view">
            <td colspan="3">Цены на анализы</td>
        </tr>
        <tr class="fold">
            <td colspan="7">
                <div class="fold-content">
                     <table>
                        <tbody>
                            <tr>
                                <td colspan="2">Сосуды головного мозга</td>
                                <td data-title="Цена, ₽">45</td>
                            </tr>
                            <tr>
                                <td colspan="2">Сосуды головного мозга и шеи</td>
                                <td data-title="Цена, ₽">45 000</td>
                             </tr>
                            <tr>
                                <td colspan="2">Нейросонография (дети до 1 года)</td>
                                <td data-title="Цена, ₽">600</td>
                            </tr>
                            <tr>
                                <td colspan="2">Артерии головного мозга</td>
                                <td data-title="Цена, ₽">2 600</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="info-block">
  <div class="info-block__inner">
  <div class="info-block__title">
Цены указаны в рублях.
    </div>
<div class="info-block__text">
Красным цветом выделены цены по акции. Действуют до 30.09.2020.
    </div>
    <svg>
        <use xlink:href="img/sprite.svg#icon-plus"></use>
      </svg>
  </div>
</div>