// fonts

$RFont: "Roboto", "Arial", sans-serif;
$RBoldFont: "Roboto-Regular", "Arial", sans-serif;
$RLight: "Roboto-Light", "Arial", sans-serif;

// colors

$grey: #f7f9f8;
$grey-light: #EBEBEB;
$grey-dark: #939393;
$dark: #373737;
$white: #ffffff;
$turq: #08CC99;
$green: #286E56;

$maxWidth: 1440;